
<div class="text-center home-banner">
  <p>Learn To Make Your Cocktails At</p>
  <h1>The Bar</h1>
  <p class="lead">Find all the ingredients you need to get your cocktail fix</p>
  <hr class="my-4">
  <p class="lead">
  <%= link_to "Find A Cocktail", cocktails_path, class: "basic-btn" %>
  <%= link_to "Make Your Own", new_cocktail_path, class: "basic-btn" %>
  </p>
</div>
