
<div class="text-center main-page-banner">
  <h1 class="display-4">Learn To Make Your Cocktails</h1>
  <p class="lead">Find all the ingredients you need to get your cocktail fix</p>
  <hr class="my-4">
  <p class="lead">
  <%= link_to "Find A Cocktail", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "Make Your Own", new_cocktail_path, class: "btn btn-primary" %>
  </p>
</div>
